.footer-div {
    border-top: 2px solid var(--main-color);

}

#github-image {
    color: red;
}

#github-circle {
    border-radius: 50px;
    background-color: var(--main-color);
    padding: 2px;
    margin: 20px;
}