.hero {
    min-height: calc(100vh - 71px);
    background-color: #0f171f;
    color: #5DD39E;
}

.info h1 {
    font-size: 70px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
}

.info {
    font-size: 25px;
}

.info button {
    background-color: #9DACFF;
    color: #0f171f;
    padding: 10px 30px 10px 30px;
    border-radius: 12px;
    border-style: none;
}

.hero-image-container {
    width: 40%;
    height: 70%;
    min-width: 340px;
}

@media screen and (max-width: 480px) {
    .hero-image-container {
        width: 40%;
        height: 40%;
        min-width: 340px;
    }
}


.hero-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}