.navbar {
    background-color: var(--main-color) !important;
    font-family: "Roboto Slab", serif;
    color: var(--white);
}

.navbar-brand {
    color: var(--white);
}

.nav-link {
    color: var(--white);
}