.image-container {
    height: 300px;
}

.image-container img {
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-color: var(--off-white);
    color: var(--main-color);
}

.title-page {
    color: var(--main-color);
    margin: 30px;
}

.project {
    background-color: var(--main-color);
    color: var(--off-white);
    border-radius: 12px;
}

.text-container {
    padding-top: 20px;
}

.porfolioButton {
    background-color: #1E2019;
    color: var(--off-white);
    text-decoration: none;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 5px;
    transition-duration: 0.4s;
}

.porfolioButton:hover {
    box-shadow: 0 5px 5px 0 var(--off-white), 0 5px 5px 0 rgba(0,0,0,0.19);
    -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
  }

#contact-link {
    background-color: var(--main-color);
    color: var(--white);
    padding: 10px 30px 10px 30px;
    border-radius: 12px;
    border-style: none;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
}

.main-points {
    color: var(--white);
}